div.ui.modal.help-group
  i.close.icon
  div.header 创建邮件组说明
  div.content
    h3 群组说明
    p 告警以邮件组形式发送，在邮件组中人员将会收到告警通知邮件。
    p 本页面用于管理群组名称，"人员"将会归属于某个群组。
    div.ui.ordered.steps
      div.active.step
        div.content
          div.title 添加群组
          div.description 添加一个群组名称
      div.step
        div.content
          div.title 添加人员到群组
          div.description 添加邮箱与手机号码到邮件群组
      div.completed.step
        div.content
          div.title 完成！
          div.description 告警邮件将会以群组方式发送
