extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.primary.add-group.button
        i.icon.plus
        | Groups
    div.item
      div.ui.button
        i.icon.help
        | Help

  div.ui.segments
    div.ui.segment
      p 群组列表
    div.ui.secondary.segment
      div.ui.relaxed.divided.list
        each val in groups
          div.item
            i.large.github.middle.aligned.icon
            div.content
              a.header=val
              div.description Users: zhang@gmail.com
  include ./forms/_group.pug
