extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.primary.add-group.button
        i.icon.plus
        | 群组
    div.item
      div.ui.button.help-group
        i.icon.help
        | 帮助

  div.ui.segments
    div.ui.segment
      p 群组列表
    div.ui.secondary.segment
      div.ui.relaxed.divided.list
        each group in groups
          div.item
            i.large.github.middle.aligned.icon
            div.content
              a.header= group
              div.description 英文名 #{group}
  include ./forms/_group.pug
  include ./modals/group_help.pug
