extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.primary.add-user.button
        i.icon.plus
        | 用户
    div.item
      div.ui.button.help-user
        i.icon.help
        | 帮助
  div.ui.segments
    div.ui.segment
      p 人员列表
    div.ui.segment
      table.ui.single.line.celled.table
        thead
          tr
            th 姓名
            th 电邮
            th 手机
            th 群组
        tbody
          each user in users
            tr
              td= user.name
              td= user.email
              td= user.phone
              td= group_alias[user.group]
  include ./forms/_user.pug
  include ./modals/people_help.pug
