extends layout

block content
  != messages('my_message_template.pug', locals)
  div.ui.menu
    div.item
      div.ui.primary.add-user.button
        i.icon.plus
        | 用户
    div.item
      div.ui.button.help-user
        i.icon.help
        | 帮助
  include ./forms/_user.pug
